@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/Site.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href=">
    <link href="@Url.Content("~/Content/StyleToSearchm.css")" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<div class="jumbotron jumbotron_developers">
    <h1 class="text-center">Developer Board</h1>
    <h2 class="text-center" >Список разработчиков</h2>
</div>
<form action="" method="get">
    <input name="s" placeholder="Искать здесь..." type="search">
    <button type="submit">Поиск</button>
</form>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            
        </tr>
        </thead>
        @foreach(AspNetUsers ss in ViewBag.UserListOnPrint)
        { 
        <tbody>
        <tr onclick="window.location='@Url.Action("UserInfo", "Manage", new { UserId = @ss.Id})#';">
            <td>@ss.UserName</td>
            <td>@ss.Description</td>
            
        </tr>
        </tbody>
        }
        
    </table>
</div>


