@model WebApplication1.DbUserOrder
@{
                /**/

                Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/SettingAccount")
<div class="row">
    <div class="col-lg-12" style="padding: 15px">

        @using (Html.BeginForm("CreatureOrder", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.MainName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.MainName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Discription, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Discription, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Price, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
            </div>
        </div>
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Change icon</legend>            
            <div class="editor-field">
                @*<input type="file" name="uploadImage" />*@

                <div class="large-12 columns">

                    <h1>Load A Photo</h1>
                    <input type="file" name="uploadImage" id="the-photo-file-field" accept=".jpg, .jpeg, .png">
                    <div class="row">

                        <div class="col-lg-12" id="preview">
                            <!--image will be inserted here-->
                        </div>

                    </div>
                    <div id="data" class="large-8 columns">
                        <h2 id="name"></h2>
                        <p id="size"></p>
                        <p id="type"></p>
                    </div>
                </div>
            </div>
            <p>
                <input type="submit" class="btn btn-group" value="Add" />
            </p>

        </fieldset>
        @Scripts.Render("~/Scripts/SettingAccount")
}

        <div>
            @Html.ActionLink("Back to the list", "Index")
        </div>
    </div>
</div>
