@model WebApplication1.DbUserOrder
@using Microsoft.AspNet.Identity;
@{
    /**/

    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ford">


    <h3>Name</h3>

    @ViewBag.Info2.MainName;
    <h3>Description</h3>

    @ViewBag.Info2.Discription

    <h3>Price</h3>


    @ViewBag.Info2.Price

    <h3>DateIn</h3>

    @ViewBag.Info2.DateIn

    <h3>DateOut</h3>

    @ViewBag.Info2.DateOut

    <h3>File</h3>

    @Html.Raw("<img class=\"card_user_style1\" src=\"data:image/jpeg;base64," + Convert.ToBase64String(ViewBag.Info2.WayFile) + "\" />")




</div>
    



@if (ViewBag.Info2.User1Id != User.Identity.GetUserId() && ViewBag.Info2.User2Id == null)
{

    using (Html.BeginForm("InfoOrder0", "Manage", new { book = ViewBag.Info2.Id }, FormMethod.Post))
    {
            
            @Html.ValidationSummary(true)
            <fieldset>

                <p>
                    <input type="submit" value="1" name="add" />
                </p>
            </fieldset>
    }    
}
<a type="button" class="btn btn-primary" style="margin: 10px; margin-left: 60px" href="@Url.Action("UserInfo", "Manage", new { UserId = ViewBag.Info2.User1Id})">Customer</a>