@model WebApplication1.DbUserOrder
@using Microsoft.AspNet.Identity;
@{
    /**/

    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2> Information about order</h2>
<div style=" border-style:ridge;
box-shadow: 0 0 5px;
 border-color: black;
 border-width: 1px 1px 1px 1px;
 background-color:whitesmoke;
 padding-bottom: 10px;
 position:relative">
    <h3 style="padding-left:10px; padding-top:10px;"> <strong> Name: </strong> @ViewBag.Info2.MainName;</h3>


    <h3 style="padding-left:10px"><strong>Description: </strong> @ViewBag.Info2.Discription</h3>
    <h3 style="padding-left:10px"> <strong>Price: </strong>  @ViewBag.Info2.Price</h3>




    <h3 style="padding-left:10px"><strong>DateIn: </strong> @ViewBag.Info2.DateIn</h3>



    <h3 style="padding-left:10px"><strong>DateOut: </strong> @ViewBag.Info2.DateOut</h3>



</div>
@if (ViewBag.Info2.WayFile != null)
{
    <div class="ford">
        <h3>File</h3>
        <div style="  width:50%; height:50%; position: center;">
            @Html.Raw("<img class=\"card_user_style1\" src=\"data:image/jpeg;base64," + Convert.ToBase64String(ViewBag.Info2.WayFile) + "\" />")
        </div>        
    </div>
}

    @if (ViewBag.Info2.User1Id != User.Identity.GetUserId() && ViewBag.Info2.User2Id == null)
    {

        using (Html.BeginForm("InfoOrder0", "Manage", new { book = ViewBag.Info2.Id }, FormMethod.Post))
        {

            @Html.ValidationSummary(true)
            <fieldset>

                <p>
                    <input type="submit" class="btn btn-primary" value="Take order " name="add" style="margin-top: 30px; margin-left: 30px" />
                    <a type="button" class="btn btn-primary" style="margin-top: 30px; margin-left: 60px" href="@Url.Action("UserInfo", "Manage", new { UserId = ViewBag.Info2.User1Id})">Customer</a>
                </p>
            </fieldset>
        }
    }
    @if (ViewBag.Info2.User1Id != User.Identity.GetUserId() && ViewBag.Info2.User2Id != null && ViewBag.Info2.User1End == false)
    {
        <a type="button" class="btn btn-primary" style="margin-top: 30px; margin-left: 60px" href="@Url.Action("InfoOrder_true_or_false", "Manage", new { id = ViewBag.Info2.Id, _index = 0})">End</a>
    }
    else if (ViewBag.Info2.User1Id != null && ViewBag.Info2.User2Id != User.Identity.GetUserId() && ViewBag.Info2.User2End == false)
    {
        <a type="button" class="btn btn-primary" style="margin-top: 30px; margin-left: 60px" href="@Url.Action("InfoOrder_true_or_false", "Manage", new { id = ViewBag.Info2.Id, _index = 1})">End</a>
    }
    else if ((ViewBag.Info2.User2Id == User.Identity.GetUserId() && ViewBag.Info2.User2End == true)
        || (ViewBag.Info2.User1Id == User.Identity.GetUserId() && ViewBag.Info2.User1End == true))
    {
        <h3 style="padding-left:10px">You have already confirmed the completion of the order</h3>
    }
