@model WebApplication1.AspNetUsers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/SettingAccount")

@using (Html.BeginForm("SettingAccount", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>

    <fieldset>
        <legend>Изменить иконку</legend>
        <div class="editor-label">File image</div>
        <div class="editor-field">
            @*<input type="file" name="uploadImage" />*@

            <div class="large-12 columns">

                <h1>Load A Photo</h1>
                <input type="file" name="uploadImage" id="the-photo-file-field" accept=".jpg, .jpeg, .png">
                <div class="row">
                    
                        <div class="col-lg-12"  id="preview">
                            <!--image will be inserted here-->
                        </div>
                    
                    </div>
                    <div id="data" class="large-8 columns">
                        <h2 id="name"></h2>
                        <p id="size"></p>
                        <p id="type"></p>
                    </div>
                </div>
        </div>
        <p>
            <input type="submit" value="Add" />
        </p>

    </fieldset>
    <p>@ViewBag.Report</p>
    @Scripts.Render("~/Scripts/SettingAccount")
}

